@keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 3;
      transform: translateY(0);
    }
  }

  html {
    height: 100%;
  }

  body {
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
    color: #353535; 
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  a {
    color: #c44900;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: #183a37;
  }

  h1 {
    font-family: 'Eczar', serif;
    text-align: center;
  }

  h3 {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-weight: 300;
  }

  .subHeading {
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem;
  }

  .subHeading img {
    height: 3rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
  }

  .wrapper {
    min-height: 100%;
    padding: 2rem;
  }

  .Header {
    width: 100%;
  }
  
  .HeaderGroup {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }
  
  .main {
    max-width: 500px;
    margin: 0 auto;
  }

  .footer {
    max-width: 500px;
    margin: 0 auto;
    font-size: .7rem;
    text-align: center;
    font-weight: 400;
  }

  .group {
    position: relative;
    margin: 45px 0;
  }
  

  .formInput {
    background: none;
    background-color: #fff;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
  }
   

.button{
  text-align: center;
}

.btn {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}